@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blur-top::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  backdrop-filter: blur(10px);
  pointer-events: none;
}
.blur-bottom::after {
  content: "";
  position: sticky;
  bottom: 0px;
  height: 20px;
  width: 100%;
  backdrop-filter: blur(10px);
  pointer-events: none;
}

.blur-top::before {
  top: 0px;
}

.task-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.task-color-default {
  background-color: #f1f5f9;
}
